In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

data_1 = pd.read_csv("complete.csv")
print(data_1.head())

data = []
with open("complete.csv","r") as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        data.append(row)
    print(data[1:5])

/var/folders/3v/_pkqxh2s7hx8prskbbntxc0c0000gp/T/ipykernel_27357/2780009390.py:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data_1 = pd.read_csv("complete.csv")

           datetime                  city state country     shape  \
0  10/10/1949 20:30            san marcos    tx      us  cylinder
1  10/10/1949 21:00          lackland afb    tx     NaN     light
2  10/10/1955 17:00  chester (uk/england)   NaN      gb    circle
3  10/10/1956 21:00                  edna    tx      us    circle
4  10/10/1960 20:00               kaneohe    hi      us     light

  duration (seconds)    latitude   longitude  Unnamed: 8
0               2700  29.8830556  -97.941111         NaN
1               7200    29.38421  -98.581082         NaN
2                 20        53.2   -2.916667         NaN
3                 20  28.9783333  -96.645833         NaN
4                900  21.4180556 -157.803611         NaN
[['10/10/1949 20:30', 'san marcos', 'tx', 'us', 'cylinder', '2700', '29.8830556', '-97.9411111', ''], ['10/10/1949 21:00', 'lackland afb', 'tx', '', 'light', '7200', '29.38421', '-98.581082', ''], ['10/10/1955 17:00', 'chester (uk/england)', '', 'gb', 'circle', '20', '53.2', '-2.916667', ''], ['10/10/1956 21:00', 'edna', 'tx', 'us', 'circle', '20', '28.9783333', '-96.6458333', '']]

In [6]:
data_1.head()

,datetime,city,state,country,shape,duration (seconds),latitude,longitude,Unnamed: 8
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,29.8830556,-97.941111,NaN
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,29.38421,-98.581082,NaN
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,53.2,-2.916667,NaN
3,10/10/1956 21:00,edna,tx,us,circle,20,28.9783333,-96.645833,NaN
4,10/10/1960 20:00,kaneohe,hi,us,light,900,21.4180556,-157.803611,NaN